@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <header class="header">
        <div class="container">
            
            <nav class="nav">
                <ul>
                   
                    
                    <li><a href="~/HTML/Page3.html">За нас</a></li>
                    <li><a href="~/HTML/Page4.html">Контакт</a></li>
                </ul>
            </nav>
        </div>

        <h1>Добре дошли в нашия магазин за обувки!</h1>

        <main>
            <section class="shoe-gallery">
                <div class="shoe-item">
                    <img src="~/images/adidas.jpg" alt="Обувки за бягане">
                    <h2>Обувки за бягане</h2>
                    <p class="price">Цена: 60 лв.</p>
                </div>
                <div class="shoe-item">
                    <img src="~/images/adddiddas.png" alt="спортни обувки">
                    <h2>мрежести обувки</h2>
                    <p class="price">Цена: 120 лв.</p>
                </div>
                <div class="shoe-item">
                    <img src="~/images/niiiike.jpg" alt="Кежуъл маратонки">
                    <h2>маратонки Nike</h2>
                    <p class="price">Цена: 80 лв.</p>
                </div>
                <div class="shoe-item">
                    <img src="~/images/nikeairmax.jpg" alt="Елегантни обувки">
                    <h2>Елегантни обувки</h2>
                    <p class="price">Цена: 150 лв.</p>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 Магазин за обувки. Всички права запазени.</p>
        </footer>
    </header>
</body>